<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>员工列表</title>
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="js/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
    <style type="text/css">
        .pagination {
            margin: 0px
        }

        .pagination > li > a, .pagination >li > span {
            margin: 0 5px;
            border: 1px solid #dddddd;
        }

        .glyphicon {
            margin-right: 3px;
        }

        .form-control[readonly]{
            cursor: pointer;
            background-color: white;
        }
    </style>
    <script type="text/javascript">
        $(function(){
            $('#hiredate').datetimepicker({
                language: 'zh-CN',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0,
                format: 'yyyy-MM-dd'
            });
            //点击添加按钮弹出对话框
            $("#btnAdd").click(function () {
                $("#dlgForm").modal();
                $.ajax({
                    url : "/deptinfo",
                    type : "get",
                    dataType : "json",
                    success : function (json) {
                        //接受来自服务器返回的JSON字符串，并将其转化为json对象
                        $("#dept").get(0).length = 0;
                        for(var i = 0; i < json.length; i++){
                            var d = json[i];
                            //获取到原生的DOM对象，只有原生的对象才有原生的option属性
                            $("#dept").get(0).options.add(new Option(d.name));
                        }
                    }
                })
            });

            $("#dept").change(function () {
                var dept = $(this).val();
                $.ajax({
                    url : "/job?dept=" + dept,
                    dataType : "json",
                    type: "get",
                    success : function (json) {
                        $("#job").get(0).length = 0;
                        for(var i = 0; i < json.length; i++){
                            var job = json[i];
                            //获取到原生的DOM对象，只有原生的对象才有原生的option属性
                            $("#job").get(0).options.add(new Option(job));
                        }
                    }

                })
            })
        });
    </script>
</head>
<body>
<div th:insert="header_footer :: header">
</div>
<div class="container">
    <div class="row">
        <div>
            <ol class="breadcrumb" style="">
                <li><a>首页</a></li>
                <li class="active">实战案例</li>
                <li class="active">Spring Boot与Web开发</li>
            </ol>
        </div>
        <h1 style="text-align :center">JUDI上海分公司员工信息表</h1>
        <div class="panel panel-default">
            <div class="clearfix panel-heading">
                <div class="input-group" style="">
                    <button class="btn btn-primary" id="btnAdd"><span class="glyphicon glyphicon-zoom-in"></span>添加</button>
                </div>
            </div>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td>序号</td>
                        <td>员工编号</td>
                        <td>姓名</td>
                        <td>部门</td>
                        <td>岗位</td>
                        <td>入职时间</td>
                        <td>工资</td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>
                <tbody th:remove="all-but-first">
                    <tr th:each="emp, stat : ${emps}">
                        <td th:text="${stat.index + 1}">1</td>
                        <td th:text="${emp.id}">8172</td>
                        <td th:text="${emp.name}">齐毅</td>
                        <td th:text="${emp.department}">研发部</td>
                        <td th:text="${emp.position}">程序员</td>
                        <td th:text="${#dates.format(emp.hiredate, 'yyyy-MM-dd')}">1984年5月30日</td>
                        <td th:text="${#numbers.formatCurrency(emp.salary)}">￥3300.00</td>
                        <td>
                            <button class="btn btn-xs btn-info">查看照片</button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>8172</td>
                        <td>齐毅</td>
                        <td>研发部</td>
                        <td>程序员</td>
                        <td>1984年5月30日</td>
                        <td>￥3300.00</td>
                        <td>
                            <button class="btn btn-xs btn-info">查看照片</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="dlgForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <!-- 网页具备文件上传的三个条件：1.POST提交；2.具备file组件；3.设置表单的enctype="mutipart/form-data"，默认表单的enctype是x-www-urlencoding -->
                <form action="/addemp" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="empno">员工编号</label>
                        <input type="text" name="id" class="form-control" id="empno" placeholder="请输入员工编号">
                    </div>
                    <div class="form-group">
                        <label for="ename">员工姓名</label>
                        <input type="text" name="name" class="form-control" id="ename" placeholder="请输入员工姓名">
                    </div>
                    <div class="form-group">
                        <label>部门</label>
                        <select class="form-control" name="department" id="dept">
                            <option>请选择</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>岗位</label>
                        <select class="form-control" name="position" id="job">
                            <option>请选择</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="hiredate">入职时间</label>
                        <input type="text" name="hiredate" class="form-control" id="hiredate" placeholder="请输入员工入职时间">
                    </div>
                    <div class="form-group">
                        <label for="salary">工资</label>
                        <input type="text" name="salary" class="form-control" id="salary" placeholder="请输入员工工资">
                    </div>
                    <div class="form-group">
                        <label for="photo">员工照片</label>
                        <input type="file" id="photo" name="photo">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="phoneForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span></span></button>
                <h4 class="modal-title">照片</h4>
            </div>
            <div class="modal-body">
                <img class="preview" src="">
            </div>
        </div>
    </div>
</div>
</body>
</html>